ul {
    display: flex;
    padding: 0;
    /* overflow-x: scroll; */
    list-style-type: none;
}

.pagination_selected {
    margin: 0 10px;
    cursor: pointer;
    background-color: #146EB4;
    color: white;
    padding: 0 2px;
    /* width: 140%; */
    /* height: 140%; */
    text-align: center;
    border-radius: 50%;
}

.pagination_not_selected {
    padding: 0 2px;
    cursor: pointer;
    color: #146EB4;
}

.page_next {
    cursor: pointer;
}